@use "./variables.scss";

/* =========================================
   ЛОГОТИП И НАЗВАНИЕ САЙТА
   ========================================= */

.page-title a {
  font-size: 0 !important;

  display: block;
  width: 100%;
  height: 80px;

  background-image: url("/Nash-Sled/static/logo.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

/* На мобильных устройствах */
@media all and (max-width: 800px) {
  .page-title a {
    width: 100%;
    height: 65px;
  }
}
